services:
  app:
    image: nero3000/open-audiothek-downloader
    ports:
      - 5000:5000
    tty: true        # Enables terminal features
    stdin_open: true # Keeps STDIN open
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      # Uncomment the following lines for Windows users
      # - $env:USERPROFILE\Music\openAudiothekDownloader:/audiobooks
      # - $env:USERPROFILE\Videos\openAudiothekDownloader:/movies
      # Uncomment the following lines for Linux users
      - /media/pool/audiobookshelf/audiobooks:/audiobooks
      - /media/pool/jellyfin/Movies:/movies
      # App data volume for cookies and configuration (persists across container restarts)
      - ./app_data:/app/data