<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
  <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
  <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
  <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
  <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
  <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
  <link rel="manifest" href="/manifest.json">
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/sw.js").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>

  <title>Open Audiothek Downloader</title>
</head>
<body>

<div class="toggle-container">
  <div class="toggle" id="toggle"></div>
</div>

    <div class="container">
        <h1>OpenAudiothek Downloader</h1>
        <div class="form">
            <input type="text" id="url" placeholder="Shared Url"/>
            <button type="submit" id="download-show">Download Show</button>
            <button type="submit" id="download-episode">Download Episode</button>
            <button type="submit" id="download-movie">Download Movie</button>
            <div id="progress-area"></div>
            <p id="result"><br></p>
        </div>
    </div>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>